.container {
  margin-left: 48px;
  display: table;
  width: 100%;  
  box-sizing: border-box;
  font-size: 100%;
  overflow-y: auto;


  .intent-edit {
    color: #047CC0;
    border: none;
    height: 40px;
    font-size: 100%;
    cursor: pointer;
  }
}