.table {
  margin-left: 48px;
  display: table;
  width: 100%;  
  box-sizing: border-box;
  font-size: 100%;
  overflow-y: auto;

  .thead {
    width: 100%;
    line-height: 48px;
    border-bottom: 1px solid #d8d8d8;
    padding: 8px 64px;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.2);
    position: relative;
    min-width: 0;
    height: 48px;
    text-align: left;
    .thead-row {
      height:100%;
    }
  }
  
  .tbody {
    width: 100%;

    .odd-row {
      height: 40px;
      .column {      
        box-sizing: border-box;
        align-content: center;
        text-align: left;
      }
    }

    .even-row {
      height: 40px;
      background-color: white;

      .column {      
        box-sizing: border-box;
        align-content: center;
        text-align: left;
      }
    }

    .intent-edit {
      background-color: inherit;
      color: #047CC0;
      border: none;
      height: 40px;
      font-size: 100%;
      cursor: pointer;
    }
  }
}