.odd-row {
  height: 40px;
  .column {      
    box-sizing: border-box;
    align-content: center;
    text-align: left;
  }
}

.even-row {
  height: 40px;
  background-color: white;

  .column {      
    box-sizing: border-box;
    align-content: center;
    text-align: left;
  }
}

.intent-edit {
  background-color: inherit;
  color: #047CC0;
  border: none;
  height: 40px;
  font-size: 100%;
  cursor: pointer;
}