.dialog-container {
  background-color: #f4f7fb;
  width: 100%;
  height: 5vh;

  .dialog-header {
    margin-left: 48px;
    display: flex;
    flex-direction: row;

    .add-node {
      border: none;
      vertical-align: bottom;
      margin-right: 8px;
      height: 32px;
      min-width: 120px;
      background-color: #047cc0;
      color: #fff;
      font-weight: 400;
      font-style: normal;
      position: relative;
      font-size: 1em;
      text-align: center;
  
      &:hover {
        background-color: #175D8D;
        cursor: pointer;
      }
    }

    .add-child-node {
      border: none;
      vertical-align: bottom;
      margin-right: 8px;
      height: 32px;
      min-width: 120px;
      background-color: #047cc0;
      color: #fff;
      font-weight: 400;
      font-style: normal;
      position: relative;
      font-size: 1em;
      text-align: center;
  
      &:hover {
        background-color: #175D8D;
        cursor: not-allowed;
      }
    }

    .add-folder {
      border: none;
      vertical-align: bottom;
      margin-right: 8px;
      height: 32px;
      min-width: 120px;
      background-color: #047cc0;
      color: #fff;
      font-weight: 400;
      font-style: normal;
      position: relative;
      font-size: 1em;
      text-align: center;
  
      &:hover {
        background-color: #175D8D;
        cursor: not-allowed;
      }
    }

    .setting {
      color: #047cc0;

      &:hover {
        color: #175D8D;
        cursor: not-allowed;
      }
    }

  }
  .dialog {

    margin-left: 48px;
    background-color: #f4f7fb;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: calc(100vh - 96px - 64px - 64px);
  }
}